In [15]:
import requests
import pandas as pd
import datetime

In [16]:
def print_coin_or_coins(coin):
    r = requests.get('https://api.coinmarketcap.com/v1/ticker/')

    if coin is not '':
        print('Searching coin {}'.format(coin))
        for line in r.json():
            if line['id'] == coin:
                print(line)
                break  # Once found, stop the loop
    else:
        print('Coin field is blank. Printing all coins:')
        for line in r.json():
            print(line)

In [17]:
def get_historical_data(coin):
    url = 'https://coinmarketcap.com/currencies/{}/historical-data/?start=19760101&end=21000101'.format(coin)
    test_pandas = pd.read_html(url)
    df = test_pandas[0]
    return df

In [18]:
coin = 'ethereum'
df = get_historical_data(coin)
print('test')

test

In [25]:
df

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Sep 05, 2017",297.570000,318.570000,268.290000,312.990000,1551050000,28100000000
1,"Sep 04, 2017",347.130000,347.130000,279.940000,295.170000,1801690000,32774000000
2,"Sep 03, 2017",350.230000,366.490000,332.230000,347.480000,986266000,33059800000
3,"Sep 02, 2017",387.820000,389.350000,328.100000,348.980000,1483600000,36601200000
4,"Sep 01, 2017",383.470000,390.040000,383.470000,387.740000,874222000,36182900000
5,"Aug 31, 2017",378.440000,386.140000,376.350000,383.040000,706254000,35701500000
6,"Aug 30, 2017",369.470000,388.750000,361.970000,378.490000,1333320000,34848400000
7,"Aug 29, 2017",347.960000,373.760000,347.790000,370.670000,1220030000,32813200000
8,"Aug 28, 2017",350.040000,352.050000,338.410000,347.750000,854319000,33002700000
9,"Aug 27, 2017",334.360000,347.890000,334.360000,347.890000,633370000,31517500000
10,"Aug 26, 2017",331.990000,334.990000,327.920000,333.880000,514181000,31288300000
11,"Aug 25, 2017",326.110000,336.400000,325.800000,331.920000,760329000,30727900000
12,"Aug 24, 2017",317.450000,327.960000,317.080000,325.610000,697665000,29904600000
13,"Aug 23, 2017",315.270000,324.210000,314.540000,317.520000,811990000,29691900000
14,"Aug 22, 2017",321.060000,327.360000,297.910000,314.790000,1336400000,30229900000
15,"Aug 21, 2017",300.480000,347.050000,297.230000,321.590000,2448970000,28285500000
16,"Aug 20, 2017",296.640000,301.430000,291.580000,301.430000,571947000,27918100000
17,"Aug 19, 2017",296.180000,301.670000,286.180000,297.470000,860202000,27867900000
18,"Aug 18, 2017",301.700000,307.960000,292.500000,295.590000,936160000,28380200000
19,"Aug 17, 2017",302.810000,311.030000,300.250000,301.460000,909494000,28477500000
20,"Aug 16, 2017",289.820000,303.410000,285.380000,302.270000,967643000,27249700000
21,"Aug 15, 2017",299.950000,300.410000,279.330000,289.820000,1051800000,28195800000
22,"Aug 14, 2017",298.030000,306.810000,296.410000,300.100000,864391000,28008700000
23,"Aug 13, 2017",310.370000,310.820000,289.310000,298.060000,1369370000,29161100000
24,"Aug 12, 2017",308.710000,317.560000,307.900000,310.600000,1111650000,28998700000
25,"Aug 11, 2017",294.500000,309.210000,294.500000,308.860000,953576000,27657000000
26,"Aug 10, 2017",296.960000,306.590000,289.930000,295.890000,1076820000,27882200000
27,"Aug 09, 2017",297.630000,318.720000,276.690000,296.030000,2638580000,27938700000
28,"Aug 08, 2017",269.100000,298.910000,266.800000,296.770000,1502410000,25254600000
29,"Aug 07, 2017",261.240000,271.960000,256.690000,269.180000,935727000,24511000000
...,...,...,...,...,...,...,...
731,"Sep 05, 2015",1.280000,1.340000,1.270000,1.340000,448453,93402300
732,"Sep 04, 2015",1.260000,1.300000,1.240000,1.270000,474391,92234100
733,"Sep 03, 2015",1.300000,1.310000,1.210000,1.260000,702991,94418700
734,"Sep 02, 2015",1.350000,1.350000,1.260000,1.290000,883769,98504600
735,"Sep 01, 2015",1.350000,1.390000,1.340000,1.350000,778862,98617200
736,"Aug 31, 2015",1.320000,1.400000,1.200000,1.360000,1447180,96251000
737,"Aug 30, 2015",1.180000,1.370000,1.170000,1.320000,1337650,86145900
738,"Aug 29, 2015",1.190000,1.210000,1.150000,1.180000,375377,86887600
739,"Aug 28, 2015",1.150000,1.210000,1.120000,1.190000,721872,83521700
740,"Aug 27, 2015",1.170000,1.190000,1.140000,1.150000,686662,85106100
741,"Aug 26, 2015",1.130000,1.200000,1.060000,1.160000,1056750,82384400
742,"Aug 25, 2015",1.230000,1.240000,1.130000,1.140000,1307180,89321900
743,"Aug 24, 2015",1.350000,1.360000,1.230000,1.230000,924920,97791600
744,"Aug 23, 2015",1.380000,1.410000,1.300000,1.350000,1589300,99894500
745,"Aug 22, 2015",1.400000,1.480000,1.350000,1.380000,948310,101404000
746,"Aug 21, 2015",1.480000,1.560000,1.350000,1.400000,2020970,107266000
747,"Aug 20, 2015",1.250000,1.530000,1.250000,1.460000,2843760,90809000
748,"Aug 19, 2015",1.170000,1.320000,1.170000,1.260000,1486240,84663900
749,"Aug 18, 2015",1.220000,1.330000,1.090000,1.090000,1485680,88143200
750,"Aug 17, 2015",1.580000,1.580000,1.190000,1.200000,1942830,95819700
751,"Aug 16, 2015",1.680000,1.700000,1.090000,1.570000,3550790,102028000
752,"Aug 15, 2015",1.800000,1.880000,1.570000,1.690000,2554360,109160000
753,"Aug 14, 2015",1.810000,2.260000,1.750000,1.830000,4637030,109594000
754,"Aug 13, 2015",1.220000,1.970000,1.170000,1.830000,4068680,73935400
755,"Aug 12, 2015",1.060000,1.290000,0.883608,1.220000,2150620,64018400
756,"Aug 11, 2015",0.708087,1.130000,0.663235,1.070000,1463100,42796500
757,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,405283,43130000
758,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,532170,42637600
759,"Aug 08, 2015",2.790000,2.800000,0.714725,0.753325,674188,167911000
760,"Aug 07, 2015",2.830000,3.540000,2.520000,2.770000,164329,-

In [42]:
df.iloc[-3:,:]['Open'].mean()

2.1087120000000001